<% include ./parts/header %>
	<h1>Log in</h1>

	<div class="row form">
		<form action="/login" method="POST">
			<div class="form-group">
				<label for="username">Username: </label>
				<input class="form-control" type="username" id="username" name="username">
			</div>

			<div class="form-group">
				<label for="password">Password: </label>
				<input class="form-control" type="password" id="password" name="password">
			</div>

			<button class="btn btn-primary btn-lg btn-block" type="Log in">Submit</button>
		</form>
		<a href="/camps">Go back</a>
	</div> <!-- row -->
<% include ./parts/footer %>