<% include ../parts/header %>
	<section class="container">
		<header class="jumbotron text-center">
			<h1>Campgrounds</h1>
			<p>View our hand-picked campgrounds from all over the world</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/camps/new">Add camp</a>
			</p>
		</header>

		<main class="row text-center"> 
			<% camps.forEach(function(camp) { %>
				<div class="col-lg-3 col-md-6">
					<article class=" mb-3 campground">
						<a href="/camps/<%=camp._id%>" class="text-secondary h4">
							<%= camp.name %>
							<img class="card-img-bottom" src="<%= camp.image %>">
						</a> 
					</article>
				</div> <!-- col-md-3 col-sm-6 -->
			<% }) %>
		</main> <!-- row -->
	</section>
<% include ../parts/footer %>