body {
  overflow-y: scroll;
}

h4, h5, h6 {
  margin: 0;
}

textarea {
  resize: vertical;
}

#map {
  width: 100%;
  min-height: 230px;
}

.campground a {
  text-decoration: none;
  
}
.campground{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  transition: transform 0.2s ease-out;
}
.campground:hover {
  transform: scale(0.99);
  box-shadow: 0 .45rem 1rem rgba(0,0,0,.15);
}

.campground:active {
  transform: scale(0.97);
  box-shadow: 0 .3rem 1rem rgba(0,0,0,.15);
}

.list-group-item {
  text-align: center;
  padding: .3rem;
}

.custom-file-label {
  overflow: hidden;
}